* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --hero-logo-text-color: #F9FAF8;
    --button-color: #3882F6;
    --information-header-text-color: #1f2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text-color: #1F2937;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    font-family: 'Roboto', sans-serif;
}



a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* HEIGHT PARAMETERS */
.navbar-container,
.footer {
    min-height: 80px;
}
.hero-container,
.random-information-container,
.quote-container {
    min-height: 250px;
}

/* BUTTON PARAMETERS */
.hero-btn, 
.call-to-action-signup {
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hero-btn:hover,
.call-to-action-signup:hover {
    background-color: #336fcf;;
}

/* BACKGROUND COLORS */
.navbar-container,
.footer {
    background-color: var(--dark-background-color);
}
.hero-container {
    
    background-color: var(--dark-background-color);
}
.hero-btn {
    background-color: var(--button-color);
}
.hero-image{
    background-color: rgb(129, 129, 129);
}
.quote-container {
    background-color: var(--quote-section-bg-color);
}
.call-to-action-box {
    background-color: var(--button-color);
}


/* FONT COLORS */
.hero-logo,
.hero-btn,
.hero-image {
    color: var(--hero-logo-text-color);
}
.hero-main-text,
.call-to-action-title {
    color: var(--hero-main-text-color);
}
.hero-text,
.hero-links, a,
.call-to-action-text {
    color: var(--hero-secondary-text-color);
}
.random-information-title {
    color: var(--information-header-text-color);
}
.card-description {
    color: rgb(70, 70, 70);
}
.quote {
    color: var(--quote-text-color);
}
.call-to-action-signup {
    color: var(--hero-secondary-text-color);
}
.footer {
    color: var(--hero-secondary-text-color);
}


/* FONT SIZE & WEIGHT & STYLE */
.hero-logo {
    font-size: 24px;
}
.hero-links {
    font-size: 18px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}
.random-information-title {
    font-size: 36px;
    font-weight: 900;
}
.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    text-align:start
}
.quote-author,
.call-to-action-title {
    font-size: 24px;
    font-weight: bold;
}
.call-to-action-text {
    font-size: 18px;
    font-weight: 300;
}
.footer {
    font-size: 18px
}


/* NAVBAR */
.navbar-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.hero-links {
    display: flex;
    gap: 15px;
}


/* HERO SECTION */
.hero-container {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.hero-content {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero-image {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* INFORMATION SECTION */
.random-information-container {
    display: flex;
    flex-direction: column;
    padding: 2% 20%;
    padding-bottom: 5%;
}
.random-information-title {
    display: flex;
    justify-content: center;
    padding: 2% 0;
    padding-top: 4%;
}
.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 60px;
}
.card-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.card {
    height: 170px;
    width: 170px;
    border: 3px solid var(--button-color);
    border-radius: 15px ;
}
.card-description {
    width: 170px;
    display: flex;
    align-items: center;
    text-align: center;

}

/* QUOTE SECTION */
.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
}
.quote-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}
.quote {
    padding-top: 5%;
}
.quote-author {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

/* CALL TO ACTION SECTION */

.call-to-action-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.call-to-action-box {
    margin: 5%;
    padding: 3% 1%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    border-radius: 8px;
}
.call-to-action-signup {
    display: flex;
    align-items: center;
    border: 2px solid var(--hero-main-text-color);
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}