* {
    margin: 0;
    padding: 0;
    font-family:I mpact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bodyfirstSection, .bodysecondSection {
    width: 100vw;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.navContainer {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-bottom: 100px;
}

.Nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    gap:600px
}

.title {
    color: #F9FAF8;
    font-size: 24px;
}

.links, a {
    color: #E5E7EB;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    list-style-type: none;
    text-decoration: none;
}


.headerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    margin-left: 390px;
    width: 450px;
    
}

.container {
    display: flex;
    justify-content: space-between;
}

.bodysecondSection {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 140px;
}

.heromaintext {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 5px;
}

.herosecondarytext {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.button {
    display: flex;
    background-color: #3882F6;
    border: none;
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.image {
    margin-left: 90px;
}