* {
    margin: 0;
    padding: 0;
}

:root {
    --dark-background-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --hero-logo-text-color: #F9FAF8;
    --button-color: #3882F6;
    --information-header-text-color: #1f2937;
    --quote-section-bg-color: #E5E7EB;
    --quote-text: #1F2937
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: 'Roboto', sans-serif;
}



a {
    text-decoration: none;
}

li {
    list-style-type: none;
}



/* BACKGROUND COLORS */
.navbar-container,
.footer {
    height: 80px;
    background-color: var(--dark-background-color);
}
.hero-container {
    height: 250px;
    background-color: var(--dark-background-color);
}
.hero-btn {
    background-color: var(--button-color);
}
.hero-image{
    background-color: rgb(129, 129, 129);
}


/* FONT COLORS */
.hero-logo {
    color: var(--hero-logo-text-color);
}
.hero-links, a {
    color: var(--hero-secondary-text-color);
}
.hero-main-text {
    color: var(--hero-main-text-color);
}
.hero-text {
    color: var(--hero-secondary-text-color);
}
.hero-btn {
    color: var(--hero-logo-text-color);
}
.hero-image {
    color: var(--hero-logo-text-color);
}


/* FONT SIZE */
.hero-logo {
    font-size: 24px;
}
.hero-links {
    font-size: 18px;
}
.hero-main-text {
    font-size: 48px;
    font-weight: 900;
}

/* NAVBAR */
.navbar-container {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}

.hero-links {
    display: flex;
    gap: 15px;
}


/* HERO SECTION */
.hero-container {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}
.hero-content {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.hero-btn {
    width: 100px;
    padding: 7px;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.hero-image {
    height: 200px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}



